h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

body {
  background-color: #F2E1AC;
}

.Btn-Group {
  text-align: center;
}

.navbar {
  background-color: #63A69F;
}

.footer {
  margin-top: 20px;
  background-color: #63A69F;
}
.footer p {
  text-align: center;
  color: #F2E1AC;
  padding: 3px;
}

.navbar-toggle {
  border-color: #F2E1AC !important;
}
.navbar-toggle:hover {
  background-color: #F2E1AC !important;
}
.navbar-toggle:hover span {
  background-color: #63A69F !important;
}
.navbar-toggle:focus {
  background-color: #F2E1AC !important;
}
.navbar-toggle:focus span {
  background-color: #63A69F !important;
}
.navbar-toggle span {
  background-color: #F2E1AC !important;
}

div {
  font-family: Lato;
}

ul {
  background-color: #63A69F;
  color: #63A69F;
}

li {
  background-color: #63A69F;
  cursor: pointer;
}

a {
  color: #F2E1AC !important;
}
a:hover {
  background-color: #F2E1AC !important;
  color: #63A69F !important;
}
a:focus {
  background-color: #F2E1AC !important;
  color: #63A69F !important;
}

.btn-group {
  margin-top: 25px;
}

.btn {
  border-radius: 0px;
}

.board {
  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;
}

.rows {
  display: block;
  font-size: 0px;
}

.cell {
  height: 8px;
  width: 8px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.young {
  background-color: #F2836B;
}

.old {
  background-color: #CD2C24;
}

.dead {
  background-color: #FFF4D7;
}
